ul { 
    background-color: rgb(36, 39, 44);
}
li {
    display: inline-block;
}
a {
    color: white;
    text-decoration: none;
    padding: 0 15px;
}
a:hover {
    color: white;
    background-color: rgb(73, 78, 85);
}