/* You can add global styles to this file, and also import other style files */
html { background-color: rgb(36, 39, 44);}

.banner1 {
    background-color: rgb(36, 39, 44);
    color: white;
}

.a-link {
    color: rgb(151, 168, 184);
    background-color: transparent;
    text-decoration: none;
}

.alnk-ul {
    color: rgb(151, 168, 184);
    background-color: transparent;
}

.blkdbx {
    background-color: lightgray;
}

.btnb4vrfy {
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 0px;

}

.vrfybtn {
    margin-top: 10px;
}
